<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Modificar mesa</h4>
		</div>
		<div class="modal-body">
			<form>
				<label for="id">Nombre de mesa:</label><br />
				<input type="text" name="boardName" id="boardName" value="<%= name %>" />
			</form>
			<p id="updateBoardModalErrorMsg" class="text-danger"></p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<button type="button" id="updateBoardBtn" class="btn btn-success">Guardar</button>
			<button type="button" id="deleteBoardBtn" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
		</div>
	</div>
</div>
