body {
	font-family: Arial;
}

#pageContent {
	padding: 25px;
}

h2 {
	font-size: 35px;
}

/****** Buttons *****/

.btn {
	border-radius: 5px 5px 5px 5px;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 20px;
	cursor: pointer;
}

.btn.red {
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background-color: #fe1a00;
	border: 1px solid #d83526;
	text-shadow: 1px 1px 0px #b23e35;
}

.btn.red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background-color:#ce0100;
}

.btn.green {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	background-color:#77d42a;
	border: 1px solid #268a16;
	text-shadow:1px 1px 0px #aade7c;
}

.btn.green:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

/****** End Buttons *****/

/****** Tables *****/
td {
	border: 1px solid #000000;
	padding: 5px;
}
/****** End Tables *****/