<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Agregar Item</h4>
		</div>
		<div class="modal-body">
			<form id="addMenuItemForm" action="#">
				<input type="text" placeholder="Nombre" name="name" /><br />
				<input type="text" placeholder="Precio" name="price" /><br />
				<select name="category" title="Category">
					<option>Bebidas</option>
					<option>Entradas</option>
					<option>Arroces</option>
					<option>Carnes</option>
				</select>
			</form>
			<p id="addMenuItemModalErrorMsg" class="text-danger"></p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<button type="button" id="addMenuItemBtn" class="btn btn-success">Guardar</button>
		</div>
	</div>
</div>